In [1]:
import sqlite3

In [21]:
conn = sqlite3.connect("./data/gamecharacters")
cursor = conn.cursor()

### Delete all existing tables

In [22]:
DONT_TOUCH_TABLES = ['sqlite_sequence']
def delete_all_tables(conn):
    cursor = conn.cursor()
    cursor.execute("select name from sqlite_master;")
    tableNames = [table[0] for table in cursor.fetchall()]
    cursor.close()
    for tablename in tableNames:
        if tablename not in DONT_TOUCH_TABLES:
            cursor = conn.cursor()
            stmt = f"DROP TABLE IF EXISTS {tablename}"
            cursor.execute(stmt)
            conn.commit()
    cursor.close()

In [23]:
delete_all_tables(conn)

In [24]:
cursor.execute("select name from sqlite_master;")
tableNames = [table[0] for table in cursor.fetchall()]

In [25]:
tableNames

['sqlite_sequence']

### Create New Tables related to the game characters project

In [26]:
# Create table
conn.execute('''CREATE TABLE characters (id INTEGER NOT NULL, char_name text NOT NULL)''')

conn.execute('''
CREATE TABLE duels
(id INTEGER NOT NULL,
actor_name text NOT NULL,
reactor_name text NOT NULL)
''')

# Insert a row of data
conn.execute("INSERT INTO characters VALUES (1, 'Satyr')")
conn.execute("INSERT INTO characters VALUES (2, 'Golem')")

conn.execute("INSERT INTO duels VALUES (1, 'Satyr1', 'Golem2')")
conn.execute("INSERT INTO duels VALUES (2, 'Golem2', 'Satyr1')")


# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()