In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("./images/generated/dataset_raw.csv")

In [6]:
df.head()

,actor_name,actor_type,actor_action,reactor_name,reactor_type,reactor_action,img_name
0,Satyr,type1,Attacking,Satyr,type1,Dying,combination0
1,Satyr,type1,Attacking,Satyr,type1,Hurt,combination1
2,Satyr,type1,Attacking,Satyr,type1,Idle,combination2
3,Satyr,type1,Attacking,Satyr,type1,Attacking,combination3
4,Satyr,type1,Taunt,Satyr,type1,Dying,combination4

In [8]:
df.columns = ["AC", "AT", "AACT", "RC", "RT", "RRCT", "img_name"]

### Probability of the characters being an actor (0.5, 0.5)

In [12]:
df[df.actor_name=="Satyr"].shape[0]/df.shape[0]

0.5

In [13]:
df[df.actor_name=="Golem"].shape[0]/df.shape[0]

0.5

### Probability of the characters being a reactor (0.5, 0.5)

In [14]:
df[df.reactor_name=="Satyr"].shape[0]/df.shape[0]

0.5

In [15]:
df[df.reactor_name=="Golem"].shape[0]/df.shape[0]

0.5

### Probability of actor type given actor character

In [27]:
def conditional_prob_type(df, condition_val,query_val, is_actor=True):
    if is_actor:
        condition_key = "actor_name"
        type_key = "actor_type"
    else:
        condition_key = "reactor_name"
        type_key = "reactor_type"
    
    filter_df = df[df[condition_key]==condition_val]
    return df[df[type_key]==query_val].shape[0]/filter_df.shape[0]

In [30]:
conditional_prob_type(df, "Satyr", "satyr1") # probability of type being satyr1 given that the character is Satyr

0.3333333333333333

32