In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
from tqdm import tqdm

warnings.filterwarnings("ignore")
%matplotlib inline

In [31]:
df = pd.read_csv('../transfers2.0.csv')

In [32]:
df.head()

,Unnamed: 0,ID,arrival_club,arrival_league,player_name,age,position,transfer_price,year_1,year_2,...,age_grouping_1,age_grouping_2,transfer_price_group1,transfer_price_group2,nationality,pot_fifa,ovr_fifa,height,overall_app,overall_gls
0,26,1913,Sunderland AFC,Premier League,Lorik Cana,25,Centre Back,5.22,2009,Before2016,...,U25,Under30,10Mto1M,20Mto5M,Albania,87.0,78.0,1.82,230.0,10.0
1,27,6425,FC Nantes,Ligue 1,Lorik Cana,32,Centre Back,0.18,2015,Before2016,...,A30,Above30,Below1M,Below5M,Albania,76.0,77.0,1.82,367.0,15.0
2,2910,4528,US Palermo,Serie A,Samir Ujkani,23,Goalkeeper,1.35,2012,Before2016,...,U25,Under23,10Mto1M,Below5M,Albania,80.0,63.0,1.88,120.0,0.0
3,3293,6048,SS Lazio,Serie A,Etrit Berisha,24,Goalkeeper,0.36,2013,Before2016,...,U25,Under30,Below1M,Below5M,Albania,75.0,67.0,1.95,90.0,3.0
4,3294,2209,Atalanta BC,Serie A,Etrit Berisha,28,Goalkeeper,4.50,2017,After2016,...,U30,Under30,10Mto1M,Below5M,Albania,79.0,74.0,1.95,NaN,NaN

In [33]:
df= df.fillna(df.mean())

#### Fifa potential and overall classification

    - 85+: 85above
    - 75 to 84: 75to84
    - 65 to 74: 65to74
    - below 65: below65

In [34]:
df['potential_fifa'] = 0

for i in tqdm(range(len(df))):
    if(df.pot_fifa[i] >= 85):
        df['potential_fifa'][i] = '85above'
    elif(85 > df.pot_fifa[i] > 74):
        df['potential_fifa'][i] = '75to84'
    elif(75>df.pot_fifa[i]>64):
        df['potential_fifa'][i] = '65to74'
    else:
        df['potential_fifa'][i] = 'below65'

100%|██████████████████████████████████████████████████████████████████████████████| 6312/6312 [02:22<00:00, 44.42it/s]

In [35]:
df.potential_fifa.value_counts()

75to84     4869
65to74      894
85above     485
below65      64
Name: potential_fifa, dtype: int64

In [36]:
df['overall_fifa'] = 0

for i in tqdm(range(len(df))):
    if(df.ovr_fifa[i] >= 85):
        df['overall_fifa'][i] = '85above'
    elif(85 > df.ovr_fifa[i] > 74):
        df['overall_fifa'][i] = '75to84'
    elif(75>df.ovr_fifa[i]>64):
        df['overall_fifa'][i] = '65to74'
    else:
        df['overall_fifa'][i] = 'below65'

100%|██████████████████████████████████████████████████████████████████████████████| 6312/6312 [02:22<00:00, 44.30it/s]

In [37]:
df.overall_fifa.value_counts()

65to74     4377
75to84     1207
below65     677
85above      51
Name: overall_fifa, dtype: int64

In [38]:
# Converting height in meters to feet
df['height'] = df['height']*3.28

#### Height classification

 - 6.5 feet above : 6.5above
 - 6 to 6.5: 6to6.5
 - 5.5 to 6: 5.5to6
 - below 5.5: below5.5

In [49]:
df['new_height'] = 0

for i in tqdm(range(len(df))):
    if(df.height[i] >= 6.5):
        df['new_height'][i] = '6.5above'
    elif(6.5 > df.height[i] >5.9):
        df['new_height'][i] = '6to6.5'
    elif(6>df.height[i]>5.5):
        df['new_height'][i] = '5.5to6'
    else:
        df['new_height'][i] = 'below5.5'

100%|██████████████████████████████████████████████████████████████████████████████| 6312/6312 [02:22<00:00, 44.15it/s]

In [50]:
df['new_height'].value_counts()

6to6.5      4278
5.5to6      1952
below5.5      58
6.5above      24
Name: new_height, dtype: int64

##### Classifying Appearances

 - 300 above: 300above
 - 150 to 300 : 150to300
 - 50 to 150: 50to150
 - below 50: below50

In [51]:
df['appearances'] = 0

for i in tqdm(range(len(df))):
    if(df.overall_app[i] >= 300):
        df['appearances'][i] = '300above'
    elif(300 > df.overall_app[i] > 149):
        df['appearances'][i] = '150to300'
    elif(150 >df.overall_app[i]>49):
        df['appearances'][i] = '50to150'
    else:
        df['appearances'][i] = 'below50'

100%|██████████████████████████████████████████████████████████████████████████████| 6312/6312 [02:22<00:00, 44.24it/s]

In [55]:
df.appearances.value_counts()

50to150     3274
150to300    1677
below50     1045
300above     316
Name: appearances, dtype: int64

#### Classifying goals

- above 100 : above100
- 50 to 100: 50to100
- 20 to 50 :20to50
- below 20 : below20

In [56]:
df['goals'] = 0

for i in tqdm(range(len(df))):
    if(df.overall_gls[i] >= 100):
        df['goals'][i] = '100above'
    elif(100 > df.overall_gls[i] > 49):
        df['goals'][i] = '50to100'
    elif(50 >df.overall_gls[i]>19):
        df['goals'][i] = '20to50'
    else:
        df['goals'][i] = 'below20'

100%|██████████████████████████████████████████████████████████████████████████████| 6312/6312 [02:23<00:00, 43.97it/s]

In [57]:
df.goals.value_counts()

below20     3372
20to50      2347
50to100      458
100above     135
Name: goals, dtype: int64

In [68]:
df.to_csv('../transfers2.1.csv')